<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ToDoICP</title>
  // 1. write Typescript code in "app.component.ts" to work with ToDo list
</head>
<body>
// 2. write html(view) code to display the ToDos
<header>
  <h1>To Do List</h1>
</header>
<div class=" center mt-5 ">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="task" />
        </div><br>
        <div class="text-center">
          <button class="btn btn-primary"  (click)="addItem()">Enter</button>
        </div>
      </div>
    </div>
    <!--To display the list information and the button remove-->
    <div class="row mt-3" *ngFor="let task of tasks; let i = index;">
      <div class="col" >
        <ul class="list-group" >
          <li class="list-group-item" >
            <span> {{ task.name }} </span>
            <!--      span> {{ task.name }} </span>-->
          </li>
          <button type="button" class="btn btn-outline-primary" (click)="removeItem(i)">Remove</button>

        </ul>
      </div>
    </div>
  </div>
</div>


</body>
</html>
