h1{
    color: blue;
    text-align: center;

}
.cubes{
    margin: auto;
    justify-content: center;
}

span{

    justify-content: center;
    background-color: black;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    display: inline-flex;

}
#one{
    background-color: blue;

}
#two{
    background-color: aqua;

}
#three{
    background-color: bisque;

}
#four{
    background-color: purple;

}
#five{
    background-color: yellow;

}
#six{
    background-color: red;

}
#seven{
    background-color: green;

}
#eight{
    background-color: pink;

}
#nine{
    background-color: black;

}

#new-page{
    width: 500px;
    height: 500px;
    background-color: blue;

}
